.links {
  font-size: 24px; 
  margin: auto 0;
  padding-left: 40px;
  padding-top: 20px;
  height: 300px;
  width: 300px;
}

#header-carousel {
   height: 240px;
}#question {
  height: 240px;
  background-image: url(/Users/JohnMorcos/Desktop/Front-End/Imgs/king_move.png);
  background-position: center center;
  background-size: cover;
}#cazza2 {
  height: 240px;
  background-image: url(/Users/JohnMorcos/Desktop/Front-End/Imgs/queen_move.png);
  background-position: center center;
  background-size: cover;
}#cazza3 {
  height: 240px;
  background-image: url(/images/header3.jpg);
  background-position: center center;
  background-size: cover;
}

.puzzlerules {
  float: right;
  display: block;
  font-style: cursive;

}
